.play-board {
    width: 100%;
    display: inline-block;
    margin: 0px;
    border-radius: .5rem;
    padding: .5rem;
    background-color: #ff9d01;
}
.play-board .card-letter {
    font-size: 2rem;
    color: #343434;
    float: left;
    width: 6.25%;
    line-height: 1em;
    font-weight: 700;
}
.play-board .card-numbers .card-number {
    font-size: 2rem;
    background: #fff;
    border: 1px solid #cecece;
    text-align: center;
    float: left;
    width: 6.25%;
    line-height: 1em;
}
.play-board .card-letter,
.play-board .card-number {
    text-align: center;
    padding: .25em;
    margin: 0;
}